<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.weatherproject604928" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>TempoAgil</name>
  <description>
        Visualize a previsão de tempo de forma ágil e precisa!
    </description>
  <author email="vinicius.rafael19@hotmail.com" href="http://github.com/">
      Teste
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>