
<ion-nav-view name="about" title="Sobre">
<div class="row">
	<h2 class="centralizeContent">Sobre o Tempo Ágil</h2>
</div>
<div class="row">
	<p>O TempoAgil nasceu com o propósito de adquirir experiência com o desenvolvimento híbrido, onde utilizamos o framework Ionic para desenvolver sua interface e grande parte de suas diretivas. 

		Dados técnicos: 

		Front End: HTML 5, CSS 3 e Javascript
		Back End: NodeJS, Express, MongoDB
		APIs de terceiros: Yahoo Weather API
	</p>
</div>

<div class="row">
<h3 class="centralizeContent"> 
Membros
</h3>
</div>

<div class="row">
<p class="centralizeContent"> 
Marcos Cerqueira <br />

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam libero enim, dictum sit amet vestibulum sed, finibus ut arcu. Nunc pellentesque vestibulum orci, et pellentesque lectus condimentum eget. Proin sagittis consequat quam, sagittis euismod orci ultricies sed. Quisque eu malesuada mauris. Nam sagittis ligula metus. Nunc luctus quis elit a elementum. Morbi feugiat pellentesque eleifend. Morbi sed laoreet arcu. Nulla lectus dolor, elementum vel pretium suscipit, accumsan ut ante. Sed sit amet massa purus. Pellentesque non maximus nunc, quis rutrum enim. Proin sodales commodo tempus.
</p>
</div>

<div class="row">
<p class="centralizeContent"> 
Vinicius Rafael Tavares <br />

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam libero enim, dictum sit amet vestibulum sed, finibus ut arcu. Nunc pellentesque vestibulum orci, et pellentesque lectus condimentum eget. Proin sagittis consequat quam, sagittis euismod orci ultricies sed. Quisque eu malesuada mauris. Nam sagittis ligula metus. Nunc luctus quis elit a elementum. Morbi feugiat pellentesque eleifend. Morbi sed laoreet arcu. Nulla lectus dolor, elementum vel pretium suscipit, accumsan ut ante. Sed sit amet massa purus. Pellentesque non maximus nunc, quis rutrum enim. Proin sodales commodo tempus.
</p>
</div>
</ion-view>
