 <ion-view title="Home">
 <ion-content padding="true">

 <section name="weatherIndexContent" class="">  

 	<div name="currentForecastMain" class="text-center centralizeContent current-forecast-box">
 		<h1>São Paulo</h1>
 		
 		<h2>{{currentForecast.temp}} <span><img src="dasdasd" alt="dadsa"></span></h2>
 		
 		<h4>{{currentForecast.condition}}</h4>

 		<h5> {{currentForecast.high}}º / {{currentForecast.low}}º - Sensação térmica, {{heatIndex}}º </h5>
 	</div> 

 	<div name="currentForecastDetails" > 
 		<div class="row text-center ">
 			<div class="col-50">
 				<span>Manhã</span>
 			</div>
 			<div class="col-50">
 				<span>Noite</span>
 			</div>
 		</div>
 		<div class="row text-center">
 			<div class="col-50">
 				<span>{{currentForecast.high}}º</span>
 			</div>
 			<div class="col-50">
 				<span>{{currentForecast.low}}º</span>
 			</div>
 		</div>

 	</ion-tab>

 	<div class="row text-center">
 		<div class="col-25" ng-repeat="forecast in forecasts">  		
 			<p>{{forecast.day}} {{forecast.dayDescription}}</p>
 			<p>{{forecast.text}}</p>
 			<p>{{forecast.high}}º | {{forecast.low}}º</p>
 		</div>
 	</div>
 </section>

</ion-content>

</ion-view>

