 <ion-view title="Home">
 <ion-content padding="true">

 <section name="weatherIndexContent" class="">  

 	<div name="currentForecastMain" class="text-center centralizeContent current-forecast-box">
 		<h1>São Paulo</h1>
 		<h2>{{currentForecast.temp}}º <span class="sunny">&nbsp;</span></h2>
 		<h4>{{currentForecast.condition | translateDayCondition}}</h4>
 		<h5> {{currentForecast.high | convertToCelsius }}º / {{currentForecast.low | convertToCelsius}}º - Sensação térmica, {{heatIndex}}º </h5>
 	</div> 

 	<div class="row text-center">
 		<button ng-click="showNextForecasts = false">Hoje</button>
 		<button ng-click="showNextForecasts = true">Próximas</button>
 	</div>

 	<div name="currentForecastDetails" ng-show="!showNextForecasts"> 
 		<div class="row text-center ">
 			<div class="col-50">
 				<span>Manhã</span>
 			</div>
 			<div class="col-50">
 				<span>Noite</span>
 			</div>
 		</div>
 		<div class="row text-center">
 			<div class="col-50">
 				<span>{{currentForecast.high | convertToCelsius}}º</span>
 			</div>
 			<div class="col-50">
 				<span>{{currentForecast.low | convertToCelsius}}º</span>
 			</div>
 		</div>
 	</div>


 	<div class="row text-center" ng-show="showNextForecasts">
 		<div class="col-25" ng-repeat="forecast in forecasts">  		

 			<p>{{forecast.date }} {{forecast.day | translateDayName}}</p>
 			<p class="{{forecast.text | getClassIconOfDayCondition}}">T</p>
 			<p>{{forecast.high | convertToCelsius}}º | {{forecast.low | convertToCelsius}}º</p> 
 		</div>
 	</div>

 </section>

</ion-content>

</ion-view>

